@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Filter2" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="Title" />
        <div class="input-group-append">
            <select class="form-control" asp-for="Genre" asp-items="@Model.Genres">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<partial name="_MovieListPartial" model="@Model.Movies" />

